<body>
  <form id="uploadform" action='box/upload/<%=FolderID%>' method='post' enctype="multipart/form-data">
    <input type='file' name='userfile'>
    <button type="button" onclick='UploadSubmit()' >업로드</button>

  </form>

  <form name='action_box' method='post'>
      <button type="button" onClick='Submit("download")' >다운로드</button>
      <button type="button" onClick='Submit("delete")' >삭제</button>
      <table border="1" id="table_box">
              <tr>
                  <td> </td>
                  <td>번   호</td>
                  <td>파일이름</td>
                  <td>파일형식</td>
                  <td>올린날짜</td>
                  <td>파일용량</td>
              </tr>

                <%
                <!--byte to kb,mb,gb  -->
                function formatBytes(bytes,decimals) {
                   if(bytes == 0) return '0 Bytes';
                   var k = 1024,
                       dm = decimals || 2,
                       sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                       i = Math.floor(Math.log(bytes) / Math.log(k));
                   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                }
                  if(filelist.length>0){
                     for(var i=0; i<filelist.length; i++)
                     {
                        var oneItem = filelist[i];
                        var size = formatBytes(oneItem.size,3);
                        if(oneItem.mimeType=='folder'){
                          %>
                          <tr>
                             <td><input type="checkbox" name="name" value="<%=oneItem.id%>" ></td>
                              <td><%=i%></td>
                              <!--폴더라면 폴더 ID를 넘겨서 다시 URL을 전송한다.-->
                              <td data-id='<%=oneItem.id%>'>
                                <a href="#" onclick ="moveFolder(this)" value='<%=oneItem.id%>'><%=oneItem.name%></a></td>
                              <td><%=oneItem.mimeType%></td>
                              <td><%=oneItem.modifiedTime%></td>
                              <td><%=size%></td>
                          </tr>
                          <%
                        }
                        else{
                          %>

                          <tr>
                             <td><input type="checkbox" name="name" value="<%=oneItem.id%>" ></td>
                              <td><%=i%></td>
                              <td><%=oneItem.name%></td>
                              <td><%=oneItem.mimeType%></td>
                              <td><%=oneItem.modifiedTime%></td>
                              <td><%=size%></td>
                          </tr>
                          <%
                      }
                    }
                  }
                %>
      </table>
</form>
<form action='box/rename/file' method='post' enctype="multipart/form-data">
  <button type="submit" >파일 이름바꾸기</button>
</form>
<form action='box/rename/folder' method='post' enctype="multipart/form-data">
  <button type="submit" >폴더 이름바꾸기</button>
</form>
<form action='box/move/file' method='post' enctype="multipart/form-data">
  <button type="submit" >파일 이동</button>
</form>
<form action='box/move/folder' method='post' enctype="multipart/form-data">
  <button type="submit" >폴더 이동</button>
</form>
<form action='box/thumbnail' method='post' enctype="multipart/form-data">
  <button type="submit" >썸네일</button>
</form>
<form action='box/search' method='post' enctype="multipart/form-data">
  <button type="submit" >검색</button>
</form>
</body>
<script>
  function Submit(index){
    if(index=='download'){
      document.action_box.action='box/download';
    }
    if(index=='delete'){
      document.action_box.action='box/delete';
      // $('.graph').load("box/<%=FolderID%>");
    }
    document.action_box.submit();
  };
  var UploadSubmit = function (){
      uploadform.action='box/upload/<%=FolderID%>';
      uploadform.submit();
      // $('.graph').load("box/<%=FolderID%>");
  };

</script>
<script src="js/loadfolder.js"></script>
