
<div class="card box-area">
  <div class="card-title">
    <h4>Box -> 여기 뭐 들어갈지 고민 ㄱㄱ</h4>
  </div>
  <div class="card-body">
  <button type="button" onClick='Refresh()'>파일 리스트 최신화</button>
  <p></p>
  <form id="uploadform" method='post' enctype="multipart/form-data">
    현재폴더에 :&nbsp;
    <input type='file' id='uploadfile' name='uploadfile'>
    <button type="button" onclick='UploadSubmit()'>업로드</button>
    &nbsp;&nbsp;
    <input type="text" id="foldername" placeholder="새폴더 이름">
    <button type="button" onClick='CreateFolder()'>새폴더 만들기</button>
  </form>
  <p></p>
  <form name='action_box' method='post'>
    체크박스 :&nbsp;
    <button type="button" onClick='Submit("download")'>다운로드(개발중,파일만)</button>&nbsp;&nbsp;
    <button type="button" onClick='Delete()'>삭제</button>&nbsp;&nbsp;
    <input type="text" id="filename" placeholder="새이름">
    <button type="button" onClick='Rename()'>이름 바꾸기</button>&nbsp;&nbsp;
    <input type="text" id="pathId" placeholder="폴더 ID">
    <button type="button" onClick='MovePath()'>경로 이동</button>
    <p></p>
    <div class="table-responsive">
      <div class="dropzone" name='box-dropzone'>여기로 파일을 드래그해서 업로드 할 수 있습니다</div>
      <div class='current-folder' name="<%= FolderID %>"></div>
      <table class="table table-hover" id="table_box">
        <thead>
          <tr>
            <td> </td>
            <td>파일이름</td>
            <td>파일형식</td>
            <td>올린날짜</td>
            <td>파일용량</td>
          </tr>
        </thead>
        <tbody>
        <%
                <!--byte to kb,mb,gb  -->
                function formatBytes(bytes,decimals) {
                   if(bytes == 0) return '0 Bytes';
                   var k = 1024,
                       dm = decimals || 2,
                       sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                       i = Math.floor(Math.log(bytes) / Math.log(k));
                   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                }
                  if(filelist.length>0){
                     for(var i=0; i < filelist.length; i++)
                     {
                        var oneItem = filelist[i];
                        var size = formatBytes(oneItem.size,3);
                        if(oneItem.mimeType=='folder'){
                          %>

            <tr class="folder-row">
              <td><input type="checkbox" class="checkbox" name="name" value="<%=oneItem.id%>"></td>
              <!--폴더라면 폴더 ID를 넘겨서 다시 URL을 전송한다.-->
              <td data-id='<%=oneItem.id%>'>
                <a href="#" onclick="moveFolder_box(this)" value='<%=oneItem.id%>'>
                  <%=oneItem.name%>
                </a>
              </td>
              <td>
                <%=oneItem.mimeType%>
              </td>
              <td>
                <%=oneItem.modifiedTime%>
              </td>
              <td>
                <%=size%>
              </td>
            </tr>
             <%
                } else {
             %>

            <tr class="file-row">
              <td><input type="checkbox" class="checkbox" name="name" value="<%=oneItem.id%>"></td>
              <td>
                <%=oneItem.name%>
              </td>
              <td>
                <%=oneItem.mimeType%>
              </td>
              <td>
                <%=oneItem.modifiedTime%>
              </td>
              <td>
                <%=size%>
              </td>
            </tr>
            <%
                      }
                    }
                  }
             %>
        </tbody>
      </table>
    </div>
    <!-- end of table-responsive -->
  </form>
  <p></p>
  <form action='box/thumbnail' method='post' enctype="multipart/form-data">
    <button type="submit">썸네일(개발중)</button>
  </form>
  <form action='box/search' method='post' enctype="multipart/form-data">
    <button type="submit">검색(개발중)</button>
  </form>
  </div>
  <!-- end of card-body -->
</div>
<!-- end of card -->

<script>
  function Submit(index) {
    if (index == 'download') {
      document.action_box.action = 'box/download';
    }
    document.action_box.submit();
  }

  function UploadSubmit() {
    if(!$('#uploadfile').val()){
      alert('업로드할 파일을 선택해주세요');
    } else {
      // var form = $('#uploadform')[0];
      // var formData = new FormData(form);
      var formData = new FormData();
      formData.append("uploadfile", $("#uploadfile")[0].files[0]);
      $.ajax({
        type: "POST",
        url: "box/upload/<%=FolderID%>",
        async: false,
        data: formData,
        processData: false,
        contentType: false,
        success: function(json) {
          console.log(json);
          alert(json);
          $('.replace').load("box/folder/<%=FolderID%>", function(){
            $.getScript('/js/dropzone.js', function(data, textStatus, jqxhr) {
              console.log("load dropzone.js: " + textStatus);
            });
          });
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
  }

  function Delete() {
    // 체크박스의 갯수를 변수에 담는다.
    var chklen = action_box.name.length;
    var name = '';
    // 체크박스 갯수만큼 for 문을 돌려 체크된 놈의 value값을 가져온다.
    for (i = 0; i < chklen; i++) {
      if (action_box.name[i].checked == true) {
        name = action_box.name[i].value;
        break;
      }
    }
    if (name == '') {
      alert("삭제하실 파일이나 폴더를 체크해주세요");
    } else {
      var body = {
        "name": name
      }

      $.ajax({
        type: "POST",
        url: "box/delete/",
        async: true,
        data: body,
        dataType: "JSON",
        success: function(json) {
          console.log(json);
          $('.replace').load("box/folder/<%=FolderID%>");
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
  }

  function Refresh() {
    $.ajax({
      type: "POST",
      url: "box/folder/refresh/",
      async: false,
      success: function(json) {
        console.log(json);
        $('.replace').load("box/folder/<%=FolderID%>");
      },
      error: function(error) {
        console.log(error);
      }
    });
  }

  function CreateFolder() {
    if(!$('#foldername').val()){
      alert('새폴더 이름을 입력해주세요');
    } else {
      var body = {
        "foldername": uploadform.foldername.value,
        "folderId": "<%=FolderID%>"
      }
      $.ajax({
        type: "POST",
        url: "box/create",
        async: true,
        data: body,
        dataType: "JSON",
        success: function(json) {
          console.log(json);
          if(json!='success') {
            alert(json);
          }
          $('.replace').load("box/folder/<%=FolderID%>");
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
  }

  function Rename() {
    // 체크박스의 갯수를 변수에 담는다.
    var chklen = action_box.name.length;
    var name = '';
    // 체크박스 갯수만큼 for 문을 돌려 체크된 놈의 value값을 가져온다.
    for (i = 0; i < chklen; i++) {
      if (action_box.name[i].checked == true) {
        name = action_box.name[i].value;
        break;
      }
    }
    if (name == '') {
      alert("이름을 변경할 파일이나 폴더를 체크해주세요");
    } else if(!$('#filename').val()) {
      alert('새이름을 입력해주세요');
    } else {
      var body = {
        "name": name,
        "filename": action_box.filename.value
      }

      $.ajax({
        type: "POST",
        url: "box/rename/",
        async: true,
        data: body,
        dataType: "JSON",
        success: function(json) {
          console.log(json);
          if(json!='success'){
            alert(json);
          }
          $('.replace').load("box/folder/<%=FolderID%>");
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
  }

  function MovePath() {
    // 체크박스의 갯수를 변수에 담는다.
    var chklen = action_box.name.length;
    var name = '';
    // 체크박스 갯수만큼 for 문을 돌려 체크된 놈의 value값을 가져온다.
    for (i = 0; i < chklen; i++) {
      if (action_box.name[i].checked == true) {
        name = action_box.name[i].value;
        break;
      }
    }
    if (name == '') {
      alert("경로를 변경할 파일이나 폴더를 체크해주세요");
    } else if(!$('#pathId').val()) {
      alert('이동할 폴더 ID를 입력해주세요');
    } else {
      var body = {
        "name": name,
        "pathId": action_box.pathId.value
      }

      $.ajax({
        type: "POST",
        url: "box/movepath/",
        async: true,
        data: body,
        dataType: "JSON",
        success: function(json) {
          console.log(json);
          if(json!='success'){
            alert(json);
          }
          $('.replace').load("box/folder/<%=FolderID%>");
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
  }


</script>
<script src="js/loadfolder.js"></script>
