
  <body>
    <form id="uploadform" action='dropbox/upload/<%=FolderID%>' method='post' enctype="multipart/form-data">
      <input type='file' name='userfile'>
      <button type="submit" >업로드</button>

    </form>

    <form name='action_dropbox' method='post'>
        <button type="button" onClick='Submit(1)' >다운로드</button>
        <button type="button" onClick='Submit(2)' >삭제</button>
        <table border="1" id="table_dropbox">
                <tr>
                    <td> </td>
                    <td>번   호</td>
                    <td>파일이름</td>
                    <td>파일형식</td>
                    <td>올린날짜</td>
                    <td>파일용량</td>
                </tr>
                  <%
                  <!--byte to kb,mb,gb  -->
                  function formatBytes(bytes,decimals) {
                     if(bytes == 0) return '0 Bytes';
                     var k = 1024,
                         dm = decimals || 2,
                         sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                         i = Math.floor(Math.log(bytes) / Math.log(k));
                     return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                  }
                    if(filelist.length>0){
                       for(var i=0; i<filelist.length; i++)
                       {
                          var oneItem = filelist[i];
                          var size = formatBytes(oneItem.size,3);
                          if(oneItem.mimeType=='folder'){
                            if(FolderID==''){
                              if(oneItem.name=="%"){
                                var Foldername = oneItem.name+'25';
                              }
                              else var Foldername = oneItem.name;
                            %>
                            <tr data-id='<%=i%>'>
                               <td><input type="checkbox" name="name" value="<%=oneItem.name%>" ></td>
                                <td><%=i%></td>
                                <!--폴더라면 폴더 ID를 넘겨서 다시 URL을 전송한다.-->
                                <td data-id='<%=Foldername%>'>
                                  <!-- <a href="/dropbox/<%=Foldername%>" id="Folder_<%=i%>" value="<%=Foldername%>"> -->

                                    <%=oneItem.name%></a></td>
                                <td><%=oneItem.mimeType%></td>
                                <td><%=oneItem.modifiedTime%></td>
                                <td><%=size%></td>
                            </tr>
                            <%
                            }
                            else {
                              if(oneItem.name=="%"){
                                var Foldername = oneItem.name+'25';
                              }
                              else var Foldername = oneItem.name;
                            %>
                            <tr data-id='<%=i%>'>
                               <td><input type="checkbox" name="name" value="<%=oneItem.name%>" ></td>
                                <td><%=i%></td>
                                <!--폴더라면 폴더 ID를 넘겨서 다시 URL을 전송한다.-->
                                <td data-id='<%=FolderID%>*<%=Foldername%>'>
                                  <!-- <a href="/dropbox/<%=FolderID%>*<%=Foldername%>"  id="Folder_<%=i%>" value="<%=FolderID%>*<%=Foldername%>"> -->
                                    <%=oneItem.name%></a></td>
                                <td><%=oneItem.mimeType%></td>
                                <td><%=oneItem.modifiedTime%></td>
                                <td><%=size%></td>
                            </tr>
                            <%
                            }
                          }
                          else{
                            %>
                          <tr data-id='<%=i%>'>
                             <td><input type="checkbox" name="name" value="<%=oneItem.name%>" ></td>
                              <td><%=i%></td>
                              <td><%=oneItem.name%></td>
                              <td><%=oneItem.mimeType%></td>
                              <td><%=oneItem.modifiedTime%></td>
                              <td><%=size%></td>
                          </tr>
                            <%
                        }
                      }
                    }
                  %>
        </table>
  </form>
  </body>
  <script>
    //   $(document).on('click', '#table_dropbox tr', function (e) {
    //     e.stopPropagation();
    //     var $this = $(this);
    //     var trid = $this.closest('tr').data('id');
    //     alert("TR ID " + trid);
    //     var tdid = $this.find('td[data-id]').data('id');
    //     alert("TD ID " + tdid);
    // });
    function Submit(index){
      if(index==1){

        document.action_dropbox.action='dropbox/download/<%=FolderID%>';
      }
      if(index==2){
        document.action_dropbox.action='dropbox/delete/<%=FolderID%>';
      }
      document.action_dropbox.submit();
    };
  </script>
  <script src="js/loadfolder.js"></script>
