<div class="card drive-area" name='split-area'>
  <div class="card-title">
    <h4>분할업로드 -> 여기 뭐 들어갈지 고민 ㄱㄱ</h4>
  </div>
  <div class="card-body">
    <form name="uploadform" id="uploadform" action='split/upload/'method='post' enctype="multipart/form-data">
      <input type='file' name='userfile'>
      <button type="submit"  >업로드</button>
    </form>

    <form name='action_split' method='post'>
      <button type="button" onClick='Submit(1)' >다운로드</button>
      <button type="button" onClick='Submit(2)' >삭제</button>
      <td><input type="text" name="filename" placeholder="newname"></td>
      <button type="submit" onClick='Submit(3)' >변경</button>
      <tr></tr>
      <!-- <select name="type">
        <option value="application/vnd.google-apps.folder">folder</option>
        <option value="application/pdf">document-pdf</option>
        <option value="application/vnd.google-apps.document">document-docx</option>
        <option value="image/jpeg">image</option>
      </select> -->
      <button  type="submit" onClick='Submit(4)' >새 폴더 생성</button>
      <div class="table-responsive">
        <div class="dropzone" name='split-dropzone'>여기로 파일을 드래그해서 업로드 할 수 있습니다</div>
        <table class="table table-hover" id="table_split" data-id = '<%=FolderID%>'>
                <tr>
                    <td> </td>
                    <td>번호</td>
                    <td>파일이름</td>
                    <td>파일형식</td>
                    <td>올린날짜</td>
                    <td>파일용량</td>
                </tr>

                  <%
                  function formatBytes(bytes,decimals) {
                     if(bytes == 0) return '0 Bytes';
                     var k = 1024,
                         dm = decimals || 2,
                         sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                         i = Math.floor(Math.log(bytes) / Math.log(k));
                     return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                  }



                  var depthSave = depth;

                  if(depthSave > 1){
                  %>
                  <tr class="folder-row">

                      <td></td>
                      <td>/</td>
                      <!--폴더라면 폴더 ID를 넘겨서 다시 URL을 전송한다.-->
                      <td><a href="#" onclick="moveFolder_split(this)" value ="<%=folderItem.name%>*<%=(depthSave-2)%>"> /..</a></td>
                      <!-- <td><a href="http://localhost:3000/google/<%=oneItem%>">..</a></td> -->
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  <%
                }
                    if(folderlist.length > 0){
                      for(var i = 0; i< folderlist.length; i++){
                        var folderItem = folderlist[i];

                        %>
                        <tr ondrop="dropFormove(event)" ondragover="allowDrop(event)" value="<%=folderItem.name%>*<%=depthSave%>" class="folder-row">

                            <td data-id='<%=folderItem.name%>*<%=depthSave%>'></td>
                            <td data-id='<%=folderItem.name%>*<%=depthSave%>'>/</td>
                            <!--폴더라면 폴더 ID를 넘겨서 다시 URL을 전송한다.-->
                            <td><a href="#" onclick="moveFolder_split(this)" value ="<%=folderItem.name%>*<%=depthSave%>"> <%=folderItem.name%></a></td>
                            <!-- <td><a href="http://localhost:3000/google/<%=oneItem%>">..</a></td> -->
                            <td data-id='<%=folderItem.name%>*<%=depthSave%>'></td>
                            <td data-id='<%=folderItem.name%>*<%=depthSave%>'></td>
                            <td data-id='<%=folderItem.name%>*<%=depthSave%>'></td>
                        </tr>
                        <%
                      }
                    }

                    if(filelist.length>0){
                       for(var i=0; i < filelist.length; i++){
                          var oneItem = filelist[i];
                          var size = formatBytes(oneItem.size,3);

                          %>
                        <tr ondragstart="dragStart(event)" draggable="true" value="<%=oneItem.splitFileID%>" class="file-row">
                         <td><input type="checkbox" name="name" value="<%=oneItem.splitFileID%>" ></td>
                         <td><%=i%></td>
                         <td><%=oneItem.fileName%></td>
                         <td><%=oneItem.mimeType%></td>
                         <td><%=oneItem.modifiedTime%></td>
                         <td><%=oneItem.size%></td>
                        </tr>
                      <%
                    }
                  }
                  %>
        </table>
      </div>
    </form>
  </div>
</div>
<script language=javascript>


function dragStart(event) {
  event.dataTransfer.setData("data", event.target.attributes[2].nodeValue);
};

function allowDrop(event) {
  event.preventDefault();
};

function dropFormove(event) {
  event.preventDefault();
  var filename = event.dataTransfer.getData("data");
  var toFolder = event.target.dataset.id;
  console.log(event);
  var body = {
    "FolderID" : <%=FolderID%>,
    "filename": filename,
    "dest": toFolder
  }
  $.ajax({
    type: "POST",
    url: "split/move/",
    async: true,
    data: body,
    dataType: "JSON",
    success: function(json) {
      console.log(json);

      $('.replace').load("split/folder/<%=FolderID%>", function(){
        $.getScript('/js/dropzone.js', function(data, textStatus, jqxhr) {
          console.log("load dropzone.js: " + textStatus);
        });
      });
    },
    beforeSend: function() {
      // (이미지 보여주기 처리)
      $('.wrap-loading').removeClass('display-none');
    },
    complete: function() {
      // (이미지 감추기 처리)
      $('.wrap-loading').addClass('display-none');
    },
    error: function(error) {
      console.log(error);
    }
  });
};

function Submit(index){
  if(index===1){
    action_split.action='split/download';
    $('.replace').load("split");
  }
  if(index===2){
    action_split.action='split/delete';
  }

  if(index===3){
    action_split.action='split/rename';
    $('.replace').load("split");
  }

  if(index===4){
    action_split.action='split/createFolder';
    $('.replace').load("split");
    // $('.graph').load("google/searchtype",{post});
  }

  action_split.submit();
};

function UploadSubmit(){
  uploadform.action='split/upload/';
  uploadform.submit();
  // $('.replace').load("split");
};

</script>

<script src="js/loadfolder.js"></script>
